<div class="grid-container" style="margin: 0" (click)="goTo('dashboard')">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [style.backgroundSize]="'cover'" [ngStyle]="{'background': 'url(' + card.url + ') no-repeat'}" style="cursor: pointer" class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.type =='BANNER'" style="cursor: default;">
            <a style="float:right; color:white; cursor: pointer" class="title" >English</a>
            <br/>
            <a style="float:right; color:white; cursor: pointer" class="title" (click)="french()">French</a>
            <br/>
            <p class="mat-h1 title" style="font-family: 'Century Gothic'; font-size: 400%">SARAH LESALE</p>
            <p class="mat-h3 title" style="font-family: 'Century Gothic'; font-size: 200%">Floral Designer</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div class="container" *ngIf="menu==true">
  <div class="row" style="text-align: center">
    <img class="d-block w-100 col-5" style="height:50%" src="../../../../assets/IMG_0082.JPG" alt="Tenth slide">
    <img class="d-block w-100 col-5" style="height:50%" src="../../../../assets/mariage/mariage%20(33).JPG" alt="Tenth slide">
  </div>
</div>

<div *ngIf="barcelone==true;" class="grid-container">
  <mdb-carousel [isControls]="true" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0072.JPG" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0073.JPG" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0074.JPG" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0075.JPG" alt="Fourth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0090.JPG" alt="Fifth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0081.JPG" alt="Sixth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0082.JPG" alt="Seventh slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0083.JPG" alt="Eighth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0084.JPG" alt="Ninth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0085.JPG" alt="Tenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0086.JPG" alt="Eleventh slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0087.JPG" alt="Twelfth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0088.JPG" alt="Thirteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0089.JPG" alt="Fourteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0091.JPG" alt="Fifteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0092.JPG" alt="Sixteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0094.JPG" alt="Seventeenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0095.JPG" alt="Eighteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0096.JPG" alt="Nineteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0097.JPG" alt="Twentieth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0098.JPG" alt="Twenty first slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0099.JPG" alt="Twenty second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0091.JPG" alt="Twenty third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0100.JPG" alt="Twenty fourth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0101.JPG" alt="Twenty fifth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0102.JPG" alt="Twenty sixth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/IMG_0103.JPG" alt="Twenty seventh slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>


<div *ngIf="mariage==true;" style="max-width: 1100px; margin-left: auto; margin-right: auto" class="grid-container">
  <mdb-carousel [isControls]="true" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(1).jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(2).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(3).jpg" alt="Third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(4).jpg" alt="Fourth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(5).jpg" alt="Fifth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(6).jpg" alt="Sixth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(7).jpg" alt="Seventh slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(8).jpg" alt="Eighth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(9).jpg" alt="Ninth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(10).jpg" alt="Tenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(11).jpg" alt="Eleventh slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(12).jpg" alt="Twelfth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(13).jpg" alt="Thirteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(14).jpg" alt="Fourteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(15).jpg" alt="Fifteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(16).jpg" alt="Sixteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(17).jpg" alt="Seventeenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(18).jpg" alt="Eighteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(19).jpg" alt="Nineteenth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(20).jpg" alt="Twentieth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(21).JPG" alt="Twenty first slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(22).JPG" alt="Twenty second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(23).JPG" alt="Twenty third slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(24).JPG" alt="Twenty fourth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(25).JPG" alt="Twenty fifth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(26).JPG" alt="Twenty sixth slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../../assets/mariage/mariage%20(27).JPG" alt="Twenty seventh slide">
    </mdb-carousel-item>
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
</div>
