<app-navbar></app-navbar>

<div class="grid-container d-none d-md-block" style="margin: 0" (click)="goTo('dashboard')">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [style.backgroundSize]="'cover'" [ngStyle]="{'background': 'url(' + card.url + ') no-repeat'}" style="cursor: pointer" class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.type =='BANNER'" style="cursor: default;">
            <a style="float:right; color:white; cursor: pointer" class="title" >English</a>
            <br/>
            <a style="float:right; color:white; cursor: pointer" class="title" (click)="french()">French</a>
            <br/>
            <p class="mat-h1 title" style="font-family: 'Century Gothic'; font-size: 400%">SARAH LESALE</p>
            <p class="mat-h3 title" style="font-family: 'Century Gothic'; font-size: 200%">Floral Designer</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
<div class="animation" style="text-align: center" ><img style="width: 80%; max-width: 800px" src="../../../../assets/fancy2.png"/>
</div>

<!--ALL PAYSAGE-->
<div *ngIf="weddingOrientation=='paysage'" class="grid-container d-none d-sm-block">
  <div class="row">
      <div (click)="goTo('en/creations/wedding')" class="column" style="margin: auto; margin-bottom: 5%">
        <p class="title" style="margin: auto; position: absolute; margin-left:170px; margin-top: 170px; font-size:300%">WEDDINGS</p>
        <img alt="wedding" *ngIf="weddingUrl!=null" [src]="weddingUrl" style="cursor: pointer; max-width: 540px"/>
      </div>

      <div (click)="goTo('en/creations/funerals')" class="column"  style="margin: auto; margin-bottom: 5%">
        <p class="title" style="margin: auto; position: absolute; margin-left:170px; margin-top: 170px; font-size:300%">FUNERALS</p>
        <img alt="funerals" *ngIf="funeralsUrl!=null" [src]="funeralsUrl" style="cursor: pointer; max-width: 540px"/>
      </div>
  </div>
</div>

<!--PHONE PAYSAGE-->
<div *ngIf="weddingOrientation=='paysage'" class="grid-container d-block d-sm-none">
    <div class="row">
        <div (click)="goTo('en/creations/wedding')" class="column" style="margin: auto; margin-bottom: 5%">
          <p class="title" style="margin: auto; position: absolute; margin-left:48px; margin-top: 35px; font-size:200%">WEDDINGS</p>
          <img alt="wedding" *ngIf="weddingUrl!=null" [src]="weddingUrl" style="cursor: pointer; max-width: 100%"/>
        </div>
  
        <div (click)="goTo('en/creations/funerals')" class="column"  style="margin: auto; margin-bottom: 5%">
          <p class="title" style="margin: auto; position: absolute; margin-left:56px; margin-top: 35px; font-size:200%">FUNERALS</p>
          <img alt="funerals" *ngIf="funeralsUrl!=null" [src]="funeralsUrl" style="cursor: pointer; max-width: 100%"/>
        </div>
    </div>
  </div>

<!--ALL PORTRAIT-->
<div *ngIf="weddingOrientation=='portrait'" class="grid-container d-none d-sm-block">
  <div class="row">
      <div (click)="goTo('en/creations/wedding')" class="column" style="margin: auto; margin-bottom: 5%">
        <p class="title" style="margin: auto; position: absolute; margin-left:170px; margin-top: 170px; font-size:300%">WEDDINGS</p>
        <img alt="wedding" *ngIf="weddingUrl!=null" [src]="weddingUrl" style="cursor: pointer; max-width: 540px"/>
      </div>

      <div (click)="goTo('en/creations/funerals')" class="column"  style="margin: auto; margin-bottom: 5%">
        <p class="title" style="margin: auto; position: absolute; margin-left:170px; margin-top: 170px; font-size:300%">FUNERALS</p>
        <img alt="funerals" *ngIf="funeralsUrl!=null" [src]="funeralsUrl" style="cursor: pointer; max-width: 540px"/>
      </div>
  </div>
</div>

<!--PHONE PORTRAIT-->
<div *ngIf="weddingOrientation=='portrait'" class="grid-container d-block d-sm-none">
    <div class="row">
        <div (click)="goTo('en/creations/wedding')" class="column" style="margin: auto; margin-bottom: 5%">
          <p class="title" style="margin: auto; position: absolute; margin-left:35px; margin-top: 35px; font-size:200%">WEDDINGS</p>
          <img alt="wedding" *ngIf="weddingUrl!=null" [src]="weddingUrl" style="cursor: pointer; max-width: 100%"/>
        </div>
  
        <div (click)="goTo('en/creations/funerals')" class="column"  style="margin: auto; margin-bottom: 5%">
          <p class="title" style="margin: auto; position: absolute; margin-left: 35px; margin-top: 35px; font-size:200%">FUNERALS</p>
          <img alt="funerals" *ngIf="funeralsUrl!=null" [src]="funeralsUrl" style="cursor: pointer; max-width: 100%"/>
        </div>
    </div>
  </div>

<div class="animation"  style="text-align: center" ><img style="width: 80%; max-width: 800px" src="../../../../assets/fancy1.png"/>

</div>