<app-navbar></app-navbar>


<div class="grid-container d-none d-md-block" style="margin: 0" (click)="goTo('dashboard')">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [style.backgroundSize]="'cover'" [ngStyle]="{'background': 'url(' + card.url + ') no-repeat'}" style="cursor: pointer" class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.type =='BANNER'" style="cursor: default;">
            <a style="float:right; color:white; cursor: pointer" class="title" >English</a>
            <br/>
            <a style="float:right; color:white; cursor: pointer" class="title" (click)="french()">French</a>
            <br/>
            <p class="mat-h1 title" style="font-family: 'Century Gothic'; font-size: 400%">SARAH LESALE</p>
            <p class="mat-h3 title" style="font-family: 'Century Gothic'; font-size: 200%">Floral Designer</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngFor="let w of wedding | async">{{w.weddingUrl}}</div>

  <div class="animation" style="text-align: center" >
    <img style="width: 80%; max-width: 800px" src="../../../../assets/fancy2.png"/>
  </div>

<div style="text-align: center" class="row">
  <div class="col-2"></div>
  <div  (click)="goTo('en/creations/wedding')"  class="col-4">
    <label for="wedding" style="position: relative;font-size: 4em;z-index: 2;top: 20rem;" class="title">WEDDINGS</label>
    <img id="wedding" width="80%" [src]="weddingUrl"  alt="wedding" *ngIf="weddingUrl!=null" />
  </div>
    <div (click)="goTo('en/creations/funerals')"  class="col-4">
      <label for="funerals" style="position: relative;font-size: 4em;z-index: 2;top: 20rem;" class="title">FUNERALS</label>
      <img id="funerals" width="80%" [src]="funeralsUrl"  alt="funerals" *ngIf="funeralsUrl!=null" />
    </div>
  <div class="col-2"></div>
</div>

</div>





<div style="text-align: center" class="d-block d-md-none row">
  <div   (click)="goTo('en/creations/wedding')"  class="col-12">
      <p style="position: relative;font-size: 200%;z-index: 2;top: 130px;" class="title">WEDDINGS</p>
      <img width="80%" [src]="weddingUrl"  alt="wedding" *ngIf="weddingUrl!=null" />
  </div>
    <div (click)="goTo('en/creations/funerals')"  class="col-12">
      <p  style="position: relative;font-size: 200%;z-index: 2;top: 130px;" class="title">FUNERALS</p>
      <img  width="80%" [src]="funeralsUrl"  alt="wedding" *ngIf="funeralsUrl!=null" />
    </div>
</div>

<div class="animation" style="text-align: center" ><img style="width: 80%; max-width: 800px" src="../../../../assets/fancy1.png"/>
</div>
