<app-nav-fr></app-nav-fr>

<div class="d-none d-sm-none d-md-block grid-container" style="margin: 0" (click)="goTo('dashboard')">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card [style.backgroundSize]="'cover'" [ngStyle]="{'background': 'url(' + card.url + ') no-repeat'}" style="cursor: pointer" class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div *ngIf="card.type =='BANNER'" style="cursor: default;">
            <a style="float:right; color:white; cursor: pointer" class="title" (click)="english()">Anglais</a>
            <br/>
            <a style="float:right; color:white; cursor: pointer" class="title">Français</a>
            <br/>
            <p class="mat-h1 title" style="font-family: 'Century Gothic'; font-size: 400%">SARAH LESALE</p>
            <p class="mat-h3 title" style="font-family: 'Century Gothic'; font-size: 200%">Créatrice Florale</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div style="margin-top:5%" class="row">
  <div class="col-3"></div>
  <div class="col-6">    <hr style="border: 1px solid rgba(169,169,169,0.8)">
  </div>
  <div class="col-3"></div>
</div>

<div  class="grid-container animation" style="text-align: center; font-family: 'Times New Roman'">
  Je suis disponible par téléphone: <strong><a class="cont" href="tel:+32498721990">+32 498 72 19 90</a></strong>
  <br/>
  Ou par mail: <strong><a class="cont" href="mailto:sarahlesale@gmail.com">sarahlesale@gmail.com</a></strong>
  <br/><br/>
  N'hésitez pas à me suivre sur Facebook !
  <a style="width:70px" href="https://www.facebook.com/Cr%C3%A9atrice-Florale-Sarah-Lesale-664399917100504/" class="fa fa-facebook"></a>


  <div class="12"><h4><strong>Le Magasin</strong></h4></div>
  <div class="12"><h4>Rue du Roi Albert 183/3, 4680 Oupeye</h4></div>
  <div class="12"><h4><strong>Heures d'Ouverture</strong></h4></div>
  <div class="12"><h4>
    Lu.- Sam. – 09:00–18:00<br/>
    Dim. - Fermé<br/>
  </h4></div>  <div class="12"><h4>Jours Fériés - 09:00–15:00<br/>
    <br/><br/>
  </h4></div>
  <div class="col-12"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2526.633128430796!2d5.6441837157407395!3d50.70819227951173!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c0f02abc0824d1%3A0xa9bd208ec8609544!2sRue%20du%20Roi%20Albert%20183%2C%204680%20Oupeye!5e0!3m2!1sfr!2sbe!4v1572728996891!5m2!1sfr!2sbe" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>

</div>
<div style="margin-top:5%" class="row">
  <div class="col-3"></div>
  <div class="col-6">    <hr style="border: 1px solid rgba(169,169,169,0.8)">
  </div>
  <div class="col-3"></div>
</div>
