<div class="container" id="direct_upload" ng2FileDrop [uploader]="uploader" (fileOver)="fileOverBase($event)" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}">
  <form style="margin-top: 20%">
    <div class="form_line">
      <div class="form_controls">
        <div style="text-align: center" class="upload_button_holder">
          <div class="row col-12">
           <label for="category">Choisir une catégorie</label>
          <select id="category" class="form-control" (change)="setCategory($event.target.value);getAlbumByCategory()">
              <option>
              </option>
              <option>wedding</option>
              <option>funerals</option>
            </select>
            <label for="album">Choisir un album</label>
            <select id="album" class="form-control" (click)="setAlbum($event.target.value)">
              <option></option>
              <option *ngFor="let a of albums | async">{{a.album}}</option>
            </select>
            <button [disabled]="getCategory()==null || getCategory()==''" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Ajouter un album</button>

           </div>
          <label *ngIf="getCategory()!=null && getCategory()!='' && getAlbum()!=null && getAlbum()!='' && uploaded==false" style="text-align: center;margin-top: 3%" class="btn btn-info btn-lg" for="fileupload">Upload</label>
          <label *ngIf="responses[0]!=null && responses[0].status!=null" class="btn btn-info btn-lg" style="margin-top: 3%;" (click)="export()">Terminé</label>
          <!-- onChange hanlder resets the input value to get the change event when uploading the same file consecutively -->
          <input *ngIf="getCategory()!=null"  type="file" id="fileupload" #fileInput ng2FileSelect [style.display]="'none'" [uploader]="uploader" (change)="fileInput.value=''"
                 multiple />
        </div>

      </div>
    </div>
  </form>
  <div class="file" *ngFor="let response of responses; let i = index">
    <h3>{{response.file.name}}</h3>
    <button class="delete-image" *ngIf="!!response.data.delete_token" (click)="deleteImage(response.data, i)">Delete image</button>
    <div class="status">
      Uploading... {{response.progress}}%
      <div *ngIf="!response.status">In progress</div>
      <div class="status-code" *ngIf="response.status">Upload completed with status code {{response.status}}</div>
    </div>
    <div class="form_line">
      <div class="form_controls">
        <div class="preview">
          <!-- Consider using https://github.com/valor-software/ng2-file-upload/issues/461 for image preview -->
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Trigger the modal with a button -->


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un album</h4>
      </div>
      <div class="modal-body">
        <label for="albumName">Nom</label>
        <input id="albumName" type="text" (input)="newAlbum.album=$event.target.value">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="saveAlbum()">Ok</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>

      </div>
    </div>

  </div>
</div>
<button></button>
